<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="/javascripts/hamburgerMenu.js"></script>
  <title>
    <%= island.name || "AACariibean" %>
  </title>
</head>

<body>
  <div id="inner-body-div">
    <header>
      <nav>
        <img id="HBI-open" class="HBI" src="/images/HBI-open.png" alt="Hamburger menu icon."/>
        <div id="links-div">
          <div id="top-nav-div">
            <a href="/">Home</a>
            <img id="HBI-close" class="HBI" src="/images/HBI-close.webp" alt="Hamburger menu icon."/>
          </div>
          <% islands.forEach(isl=> { %>
            <a class="nav-link" href="/islands/<%= isl._id %>">
              <img class="nav-flag" src="/images/<%= isl.flagKey %>" alt="The flag of <%= island.name %>">
              <%= isl.name %>
            </a>
          <% }) %>
        </div>
      </nav>
      <div id="ghost-div"></div>
    </header>