<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>
    <%= island.name || "AACariibean" %>
  </title>
</head>

<body>
  <div id="inner-body-div">
    <header>
      <nav>
        <img id="hamburger-icon" src="/images/hamburger-icon-open.png" alt="Hamburger menu icon."/>
        <div id="links-div">
          <a href="/">Home</a>
          <% islands.forEach(isl=> { %>
            <a class="nav-link" href="/islands/<%= isl._id %>">
              <img class="nav-flag" src="/images/<%= isl.flagKey %>" alt="The flag of <%= island.name %>">
              <%= isl.name %>
            </a>
          <% }) %>
        </div>
      </nav>
      <div></div>
    </header>